.budget-table {
  width: 100%;
  border: solid;
  margin-top: 0;
  border: solid 1px;
}

.budget-table th {
  font-weight: bold;
  font-size: large;
  border-bottom: solid 1px;
  margin: 0;
}

.budget-table th,
.budget-table td {
  padding: 8px;
  text-align: left;
}

.budget-table input {
  background-color: rgb(244, 219, 176);
  border: none;
  color: black;
}

.budget-table select {
  height: 35px;
  padding: 5px;
  font-size: 15px;
  box-shadow: none;
  border: solid 1px #fbd997;
  border-radius: 5px;
  font-family: inherit;
  background-color: transparent;
  color: #fbd997;
}

.error {
  color: rgb(227, 101, 101);
}

.total {
  font-weight: 700;
  width: 80px;
}

.grandTotal {
  text-align: right;
}

@media (max-width: 920px) {
  .budget-table {
    width: 100px;
    border: solid;
    margin-top: 0;
    border: solid 1px;
    white-space: normal;
    overflow-x: auto;
  }

  .budget-table th,
  .budget-table td {
    font-size: 14px;
    padding: 6px;
    white-space: normal;
  }

  .budget-table input,
  .budget-table select {
    font-size: 14px;
    padding: 2px;
    width: 100px;
    white-space: normal;
    height: 40px;
  }

  .total {
    font-size: 16px;
  }

  .grandTotal {
    text-align: left;
  }

  .table-container {
    overflow-x: auto;
    white-space: normal;
  }
}
