.budget-table {
  border: solid 1px;
  width: 100%;
}

.budget-table th {
  font-weight: bold;
  font-size: large;
  text-align: left;
  padding: 8px;
  border-bottom: solid 1px;
}

.budget-table td {
  padding: 8px;
}

.link a {
  color: #fbd997;
}
