.itinerary-table {
  width: 100%;
  border: solid;
  margin-top: 0;
}

.itinerary-table th {
  font-weight: bold;
  font-size: large;
  border-bottom: solid 1px;
  margin: 0;
}

.itinerary-table th,
.itinerary-table td {
  padding: 8px;
  text-align: left;
}

.itinerary-table input {
  color: black;
}

.itinerary-table input::placeholder {
  color: black;
}

.error {
  color: rgb(227, 101, 101);
}

@media (max-width: 920px) {
  .itinerary-table {
    width: 100px;
    border: solid;
    margin-top: 0;
    border: solid 1px;
    white-space: normal;
    overflow-x: auto;
  }

  .itinerary-table th,
  .itinerary-table td {
    font-size: 14px;
    padding: 6px;
    white-space: normal;
  }

  .budget-table input {
    font-size: 14px;
    padding: 2px;
    width: 100px;
    white-space: normal;
    height: 40px;
  }
}
