.container {
  margin-top: 50px;
  padding: 1rem;
}

.text h1 {
  color: #fbd997;
  text-align: center;
  font-size: 2rem;
}

.text p {
  margin: 10px;
  color: #fbd997;
  text-align: center;
  font-size: 1.2rem;
}

.image-container {
  width: 30%;
  height: auto;
  position: relative;
  perspective: 1000px;
  display: inline-block;
  margin: 0 5px;
}

.description {
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
}

.image-container:hover .description {
  transform: rotateY(180deg);
}

.description-container {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(251, 217, 151, 0.9);
  opacity: 0;
  transition: opacity 0.3s;
  transform: translate(-50%, -50%) rotateY(180deg);
  transform-origin: center;
}

.image-container:hover .description-container {
  opacity: 1;
  transform: translate(-50%, -50%) rotateY(0deg);
}

.description-info {
  color: #242424;
  margin: 5px;
  width: 100%;
}

.mobileText {
  display: none;
}

@media (max-width: 1000px) {
  .description-info {
    font-size: 0.9rem;
  }
}

@media (max-width: 850px) {
  .mobileText {
    display: block;
    color: #242424;
    font-size: 1.2rem;
    text-align: center;
  }
  .description-info {
    display: none;
  }
}
