.header {
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.list a {
  text-decoration: none;
  color: #fbd997;
}

.list a:hover,
.list a.active {
  color: #f6ad1b;
}

.logoutButtonContainer {
  display: flex;
  align-items: center;
}

.button {
  color: #fbd997;
  border: none;
  background-color: transparent;
  font-size: inherit;
  margin: 0;
  padding: 0;
}

.button:hover {
  color: #f6ad1b;
  cursor: pointer;
  margin: 0;
}
